body {
    background: linear-gradient(to right, #003973, #e5e5be);
}

td.nothing {
    height: 140px;
}

.table td, .table th {
    min-width: 150px;
}

.table td.video{
    min-width: 280px;
    font-weight: bold;
}

td.done {
    background-color: #79F254;
}